<div class="block">
  <h3>Welcome to the Jenka project</h3>
  <div class="content">
    <p>Schools are <strong>important</strong>!</p>
	<p>Administer them here.</p>
  </div>
</div>
<div class="block">
  <h3>Links</h3>
  <ul class="navigation">
    <li><%= link_to "Skolverket adresslista", "http://www3.skolverket.se/ki03/lista_skoladress.aspx?skolform=11&huvudmannatyp=-&lan=-&kommun=-&skola_namn=&geoskolform=11&fran_ki=J&include=J&ar=1011&geolan=-&sprak=%24SPRAK" %></li>
  </ul>
</div>