<div class="block" id="block-text">
  <div class="content">
    <h2 class="title">Dashboard</h2>
    <div class="inner">
      <p class="first">
        Här kan vi skriva intressanta saker om skolan.
      </p>
      <p> <span class="small">Tänk på asd sdaad</span></p>
      <p> <span class="gray">Mer exempel på csser=</span></p>
      <hr />
      <p>
		Och här ska man kunna fylla i ett ännu längre stycke.
      </p>
    </div>
  </div>
</div>
<% content_for :sidebar, partial("base/sidebar") %>