<div class="group">
  <%= f.label :name %><%= f.error_message_on :name %>
  <%= f.text_field :name, :class => :text_field %>
  <span class="description">Ex: a simple text</span>
</div>
<div class="group">
  <%= f.label :address %><%= f.error_message_on :address %>
  <%= f.text_field :address, :class => :text_field %>
  <span class="description">Ex: a simple text</span>
</div>
<div class="group">
  <%= f.label :postalcode %><%= f.error_message_on :postalcode %>
  <%= f.text_field :postalcode, :class => :text_field %>
  <span class="description">Ex: a simple text</span>
</div>
<div class="group">
  <%= f.label :city %><%= f.error_message_on :city %>
  <%= f.text_field :city, :class => :text_field %>
  <span class="description">Ex: a simple text</span>
</div>
<div class="group">
  <%= f.label :phone %><%= f.error_message_on :phone %>
  <%= f.text_field :phone, :class => :text_field %>
  <span class="description">Ex: a simple text</span>
</div>
<div class="group">
  <%= f.label :type %><%= f.error_message_on :type %>
  <%= f.text_field :schooltype, :class => :text_field %>
  <span class="description">Ex: a simple text</span>
</div>
<div class="group">
  <%= f.label :county %><%= f.error_message_on :county %>
  <%= f.text_field :county, :class => :text_field %>
  <span class="description">Ex: a simple text</span>
</div>
<div class="group">
  <%= f.label :organization_type %><%= f.error_message_on :organization_type %>
  <%= f.text_field :organization_type, :class => :text_field %>
  <span class="description">Ex: a simple text</span>
</div>
<div class="group">
  <%= f.label :municipality_id %><%= f.error_message_on :municipality_id %>
  <%= f.select :municipality_id, :collection => Municipality.all, :fields => [:name, :id] %>
  <span class="description">Ex: a simple text</span>
</div>

<div class="group navform wat-cf">
  <%= f.submit pat(:save), :class => :button %>
  <%= f.submit pat(:cancel), :onclick => "window.location='#{url(:schools, :index)}';return false", :class => :button %>
</div>