<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to pat(:list), url(:schools, :index) %></li>
      <li><%= link_to pat(:new), url(:schools, :new) %></li>
      <li class="active"><%= link_to pat(:edit), url(:schools, :edit, :id => @school.id) %></li>
    </ul>
  </div>
  <div class="content">
    <h2 class="title"><%= pat(:edit) %> <% mt(:school) %></h2>
    <div class="inner">
      <% form_for :school, url(:schools, :update, :id => @school.id), :method => :put, :class => :form do |f| %>
        <%= partial "schools/form", :locals => { :f => f } %>
      <% end %>
    </div>
  </div>
</div>
<% content_for :sidebar, partial("base/sidebar") %>