<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to pat(:list), url(:schools, :index) %></li>
      <li><%= link_to pat(:new), url(:schools, :new) %></li>
    </ul>
  </div>
  <div class="content">
    <h2 class="title"><%= pat(:all) %> <% mt(:schools) %></h2>
    <div class="inner">
      <table class="table">
        <tr>
          <th class="first"><%= mat(:school, :id) %></th>
          <th><%= mat(:school, :name) %></th>
          <th><%= mat(:school, :address) %></th>
          <th><%= mat(:school, :postalcode) %></th>
          <th><%= mat(:school, :city) %></th>
          <th><%= mat(:school, :phone) %></th>
          <th><%= mat(:school, :schooltype) %></th>
          <th><%= mat(:school, :county) %></th>
          <th><%= mat(:school, :organization_type) %></th>
          <th><%= mat(:school, :municipality_id) %></th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @schools.each do |school| %>
        <tr>
          <td class="first"><%= school.id %></td>
          <td><%= school.name %></td>
          <td><%= school.address %></td>
          <td><%= school.postalcode %></td>
          <td><%= school.city %></td>
          <td><%= school.phone %></td>
          <td><%= school.type %></td>
          <td><%= school.county %></td>
          <td><%= school.organization_type %></td>
          <td><%= school.municipality_id %></td>
          <td class="last">
            <%= button_to pat(:edit), url(:schools, :edit, :id => school.id), :method => :get, :class => :button_to %> |
            <%= button_to pat(:delete), url(:schools, :destroy, :id => school.id), :method => :delete, :class => :button_to, :onsubmit => "return confirm('#{pat(:confirm)}')" %>
          </td>
        </tr>
        <% end %>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions"></div>
      </div>
    </div>
  </div>
</div>
<% content_for :sidebar, partial("base/sidebar") %>