<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to pat(:list), url(:municipalities, :index) %></li>
      <li><%= link_to pat(:new), url(:municipalities, :new) %></li>
    </ul>
  </div>
  <div class="content">
    <h2 class="title"><%= pat(:all) %> <% mt(:municipalities) %></h2>
    <div class="inner">
      <table class="table">
        <tr>
          <th class="first"><%= mat(:municipality, :id) %></th>
          <th><%= mat(:municipality, :name) %></th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @municipalities.each do |municipality| %>
        <tr>
          <td class="first"><%= municipality.id %></td>
          <td><%= municipality.name %></td>
          <td class="last">
            <%= button_to pat(:edit), url(:municipalities, :edit, :id => municipality.id), :method => :get, :class => :button_to %> |
            <%= button_to pat(:delete), url(:municipalities, :destroy, :id => municipality.id), :method => :delete, :class => :button_to, :onsubmit => "return confirm('#{pat(:confirm)}')" %>
          </td>
        </tr>
        <% end %>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions"></div>
      </div>
    </div>
  </div>
</div>
<% content_for :sidebar, partial("base/sidebar") %>