body {
	background-color: #f5f5f5;
	/*background-image: url(/images/bg.png);*/
	font-family: Helvetica, Arial, sans-serif;
	font-size:13px;
	line-height: 18px;
}

h1, h2 {
	font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
	font-weight: bold;
}

h1 {
	font-size: 36px;
	padding-top: 30px;
	color:#436e3c;
	text-shadow: 0px 1px 0px #cfcfcf;	
}

h2 {
	font-size: 16px;
	margin-bottom: 5px;
}

em {
	font-style: italic;
}

strong
{
	font-weight: bold;
}

#contents {
	width: 961px;
	margin: 0 auto;
	background-image: url(/images/content-bg.png);
}

#header {
	height:149px;
	background-image: url(/images/handbocker_960.jpg);
}

#header h1
{
	margin-top: 0;
	padding-left: 50px;
	padding-top: 10px;
	font-size: 60px;
	color: #404040;
	text-shadow: 0 1px 0 #000000;
	line-height: 60px;
	background-color: rgba(255, 255, 255, 0.8);
}

#main {
	
}

.rounded-5 {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}


.rounded-7 {
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
}


li.result-item
{
	padding: 10px;
	width: 280px;
	margin: 10px 10px 10px 0px;
	overflow: ellipsis;
	background-color: #E9F2EB;
	cursor: pointer;
}

li.result-item h2{
	width:248px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	
}

.no-edit{
	border:0; 
	background-color:transparent;
	font-weight:bold;
	line-height:20px;
}

.clearfix
{
	clear:both;
}

div.question-group h2
{
    margin: 0;
    padding: 0;
    font-size: 24px;
}

div.question-group 
{
    width: 726px;
    /*background: #ffffff url('/images/guide-question-group-bg.gif') repeat-y;*/
    margin-bottom: 30px;
    position: relative;
	border: 4px solid #8da394;
}

div.question-group-top
{
    width: 726px;
    /*background: transparent url('/images/guide-question-group-top.gif') no-repeat top;*/
}

div.question-group-bottom 
{
    width: 696px;
    padding: 15px;
    /*background: transparent url('/images/guide-question-group-bottom.gif') no-repeat bottom;*/
}

div.result-container-top
{
    background: transparent url('/images/guide-question-box-top.gif') no-repeat top;
    width: 726px;
}

div.question-container-top 
{
	background-color: #e9f2eb;
    /*background: #d5eafd url('/images/guide-question-box-top-v2.gif') no-repeat top;*/
    width: 696px;
    margin-top: 15px;
}

div.result-container-bottom
{
    background: transparent url('/images/guide-question-box-bottom.gif') no-repeat bottom;
    padding: 10px;
    width: 706px;
}

div.question-container-bottom 
{
    /*background: transparent url('/images/guide-question-box-bottom-v2.gif') no-repeat bottom;*/
    padding: 10px;
    width: 676px;
}

div.question-container, div.result-container 
{
    /*background: url('/images/guide-question-box.gif') repeat-y top;*/
    margin: 0 0 15px 0;
    width: 726px;
}

div.question-container-flat
{
    background-color: #FFFFFF;
    width: 706px;
    padding: 10px 0 0 0;
}

span.quide-question-text 
{
    color: #333333;
    font: 10px/12px "Lucida Grande","Lucida Sans Unicode","Lucida Sans ",Verdana;
}

div.guide-question-label 
{
    float: left;
    padding: 0 15px 0 0;
    color: #434343;
}

div.question-container-flat input
{
    float: left;
}

.guide-question-pane-inactive, .guide-question-pane-active
{
    position: absolute;
    left: 746px;
    top: 0px;
    width: 155px;
    padding: 15px;
    color: #303030;
    overflow: hidden;
    font: bold 14px/14px "Helvetica Neue", Helvetica, Arial, Sans-Serif;
}

.i-box
{
	margin: 4px 0;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	float: right;
	font-family: 'Garamond', serif;
	font-size: 34px;
	background-color: #fff;
	font-weight: bolder;
	color: #ffdd74;
}

.guide-question-pane-inactive 
{
    /*background: url('/images/q-number-pane-inactive.png') no-repeat left;*/
	background-color: #ffdd74;
}

.guide-question-pane-active 
{
    background: url('/images/q-number-pane-active.png') no-repeat left;
}

div.guide-next-q-link 
{
    text-decoration: none;
    display: none;
    width: 85px;
    background: url('/images/go-on.png') no-repeat right;
    line-height: 14px;
    margin-top: 10px;
}

div.guide-breadcrumb
{
    width: 951px;
    background: url('/images/bread-crumb-bar-guide-v2.gif') no-repeat left;
    padding: 5px 0px 12px 10px;
}

div.guide-breadcrumb div
{
    width: 951px;
}

#guide-header
{
    background-color: #ffffff;
    padding: 0 15px 5px 15px;
}

#guide-header h1, #guide-header p
{
    color: #000000;
}

#guide-header h1 
{
    font-size: 32px;
}

#guide-header p
{
    margin: 8px 0;
}

div.guide-page-bottom 
{
    padding: 15px;
    /*background: #FFFFFF url('/images/guide-bottom.gif') no-repeat bottom;*/
	background-color: #fff;
}

div.question-container-flat h2
{
    padding: 0;
    margin: 0;
    float: left;
    font: 12px/18px "Lucida Grande","Lucida Sans Unicode","Lucida Sans ",Verdana;
    font-weight: bold;
}

div.guide-controls 
{
    float: right;
    width: 450px;
}

.compare-bar-button-wrapper 
{
	padding: 0;
	float:right;
}

.compare-bar-button {
	/* Sliding right image */
	background: transparent url(/images/blue-button-shadow-right.png) no-repeat scroll top right; 
	display: block;
	float: left;
	height: 29px;
	padding-right: 9px;
	text-decoration: none;
	color: #fff;
	cursor: pointer;
	white-space: nowrap;
}

.compare-bar-button span {
	/* Background left image */ 
	background: transparent url(/images/blue-button-shadow-left.png) no-repeat;
	display: block;
	line-height: 29px;
	padding: 0 6px 0 16px;
	font-size: 14px;
	font-weight: bold;
}

.compare-bar-button span a  { color:#ffffff; text-decoration:none; }

div.guide-submit-top
{
    background: #eae9e9 url(/images/guide-submit-top.gif) no-repeat top;
    width: 726px;
    margin: 0 0 30px 0;
}

div.guide-submit-bottom
{
    background: transparent url(/images/guide-submit-bottom.gif) no-repeat bottom;
    padding: 15px;
}

div.question-group-mini
{
    background: transparent url(/images/guide-mini-icons/guide/question-box-bg.gif) repeat-x left;
    float: left;
}

div.question-group-mini-left 
{
    float: left;
    background: transparent url(/images/guide-mini-icons/guide/question-box-left.gif) no-repeat left;
}

div.question-group-mini-right 
{
    padding: 9px 9px;
    float: left;
    background: transparent url(/images/guide-mini-icons/guide/question-box-right.gif) no-repeat right;
}

div.value-slider-label
{
    color: #434343;
    padding: 5px 0 0 0;
}


#guide-result-closest
{
    float: right;
    width: 190px;
}

#guide-result-closest ol
{
    text-indent: none;
    border-top: 1px solid #cccccc;
    padding: 0;
    list-style-position: inside;
    margin: 0;
}


#guide-result-closest li
{
    text-indent: none;
    line-height: 16px;
    border-bottom: 1px solid #cccccc;
    color: #636363;
    padding: 8px 0;
}

#guide-result-closest h2
{
    padding: 6px 0;
    margin: 0;
    line-height: 20px;
}

#guide-result-closest a
{
    color: #636363;
}

div.result-container-top
{
    float: left;
}

div.result-container-bottom
{
    float: left;
    padding: 5px 15px;
    width: 696px;
}

div.result-container 
{
    float: left;
}


div.result-medals
{
    float: right;
    width: 370px;
}

div.result-medals img
{
    float: right;
    padding: 5px;
}

div.guide-result-score 
{
    font-size: 38px;
    width: 130px;
    color: #2287cf;
    float: right;
    font-weight: bold;
    line-height: 42px;
    font-family: "Helvetica Neue",Helvetica,Arial,Sans-Serif;
    text-align: right;
}

table.guide-result-ho-name 
{
    float: left;
    width: 695px;
    font-size: 14px;
    font-weight: bold;
    padding: 0;
    border-collapse: collapse;
}

table.guide-result-ho-name td
{
    height: 42px;
}

table.guide-result-ho-name a
{
    color: #2287cf;
}

div.medal-plate-left, div.medal-plate-right, div.empty-medal-plate
{
    float: right;
}

div.medal-plate-left
{
    background: #eae9e9 url(/images/medal-plate-left.gif) no-repeat left;
    margin: 0 2px;
    width: 94px;
}

div.medal-plate-right
{
    background: transparent url(/images/medal-plate-right.gif) no-repeat right;
    padding: 0 5px;
}

div.empty-medal-plate
{
    width: 88px;
    height: 32px;
    padding: 5px;
    width: 88px;
    text-align: center;
}

div.guide-popup
{
    position: absolute;
    background: transparent url(/images/popup-top.gif) no-repeat top;
    width: 195px;
    height: 30px;
    display: none;
    top: 0;
    left: 736px;
}

div.guide-popup-bottom
{
    background: transparent url(/images/popup-bottom.gif) no-repeat bottom;
    width: 174px;
    float: right;
    padding: 9px 0;
}

div.guide-popup-bottom div
{
    width: 154px;
    background-color: #ef4c2b;
    padding: 0 10px;
    text-align: center;
    font: bold 14px/18px "Helvetica Neue",Helvetica,Arial,Sans-Serif;
    color: #ffffff;
}

table.guide-question-table
{
    width: 676px;
}

table.guide-question-table table
{
    float: right;
}

table.guide-question-table, table.guide-question-table td, table.guide-question-table tr, table.guide-question-table table
{
    border-collapse: collapse;
    padding: 0;
    margin: 0;
    border: 0px none;
    vertical-align: middle;
}

td.guide-question-table-icon 
{
    width: 60px;
}

td.guide-question-table-info
{
    width: 160px;
}

td.guide-question-table-controls-map
{
    width: 380px;
}

td.guide-question-table-controls
{
    width: 450px;
}

img.question-icon
{
    float: left;
}

#guide-map-search
{
    float: right;
}

div.guide-radioset
{
    float: right;
}

#guide-question-collection h1
{
    color: #000000;
    font-size: 24px;
    width: 330px;
    float: left;
}

.further-reading a
{
    text-decoration: underline;
    color: #3EA9F5;
}

#cancel-map-button span, #update-map-button span { display: block; color: #000; font-size: 1.1em; padding: 0.4em 1em; }
#guide-map-search span { display: block; font-size: 1.1em; padding: 0.4em 1em; }

div.small-loader
{
    width:108px;
    height:23px;
    color:#3EA9F5;
    font-size:16px;
    font-weight:bold;
    display: none;
    float: left;
}

div.relative-loader td, div.small-loader td
{
    vertical-align: middle;
    padding: 0;
    margin: 0;
    border: 0px none;
    padding-right: 6px;
    text-align: right;
}

div.relative-loader table, div.small-loader table
{
    width: 100%;
    border-collapse: collapse;
    border: 0px none;
    padding: 0;
    margin: 0;
    height:23px;
}

div.relative-loader img, div.small-loader img
{
    float: left;
}

label.guide-radio-item
{
	padding-left: 10px;
	display: block;
	height: 50px;
	line-height: 50px;
	font-size:14px;
}

.input-selected {
	background-color: yellow;
}

.schoolname
{
	cursor: pointer;
}

.school-facts
{
	line-height: 18px;
	overflow: auto;
	margin: 10px 0;
	font-size: 12px;
}

.school-facts div
{
	line-height: 18px;
	height: 18px;
}