<%
    length = 180
    fillLength = value * length
%>

<div style="width: <%=length.to_s %>px; position: relative;">
    <div id="bar-chart-<%=id.to_s %>" style="width: <%=fillLength.to_s %>px; height: 18px; background: url(/images/guide-bar-fill.gif) repeat-x left;">
    </div>
    <div style="position: absolute; top: 0; left: 0; width: <%=length.to_s %>px; height: 18px; background: transparent url(/images/guide-bar-bg.gif) repeat-x left;">
    <div style="width: <%=length.to_s %>px; height: 18px; background: transparent url(/images/guide-bar-left.png) no-repeat left;">
    <div style="width: <%=length.to_s %>px; height: 18px; background: transparent url(/images/guide-bar-right.png) no-repeat right;">
    </div>
    </div>
    </div>
</div>
