<div class="question-container-top rounded-7" style="position: relative;">
<div class="question-container-bottom">
    <table class="guide-question-table">
        <tbody>
            <tr>
                <td class="guide-question-table-icon">
                    <img class="question-icon" src="/images/icon-distance.png" alt="Avstånd" />
                </td>
                <td class="guide-question-table-info">
                    <strong>Max avstånd: </strong><span class="quide-question-text">Hur stort område vill du leta i?</span>
                </td>
                <td class="guide-question-table-controls">
                    <div id="value-label-6" style="font-weight: bold; color: #333333; width: 100%; text-align: center; padding-bottom: 10px;">Ingen gräns</div>
                    <table width="100%">
                        <tr>
                            <td width="45px"></td>
                            <td><div id="numeric-slider-6"></div></td>
                            <td width="45px"></td>
                        </tr>
                    </table>
                    <table width="100%">
                        <tr>
                            <td width="90px" align="center"><div class="value-slider-label">Ingen gräns</div></td>
                            <td width="90px" align="center"><div class="value-slider-label">2,5 km</div></td>
                            <td width="90px" align="center"><div class="value-slider-label">5 km</div></td>
                            <td width="90px" align="center"><div class="value-slider-label">&nbsp;</div></td>
                            <td width="90px" align="center"><div class="value-slider-label">10 mil</div></td>
                        </tr>
                    </table>                    
                </td>
            </tr>
        </tbody>
    </table>
    <input name="answer6" type="hidden" value="0" />
</div>
</div>

<script type="text/javascript">
    $(document).ready(
        function () {
            $("#numeric-slider-6").slider({
                value: 0,
                min: 0,
                max: 100000,
                step: 5000,
                slide: function (event, ui) {
                    if(ui.value <= 50000) {
                        $("[name=answer6]").val(ui.value / 10);
                        if(ui.value < 10000)
                            $('#value-label-6').html((ui.value / 10) + " m");
                        else
                            $('#value-label-6').html((ui.value / 10000).toString().replace(".", ",") + " km");
                    }else if(ui.value < 100000) {
                        $("[name=answer6]").val((ui.value % 50000) * 2);
                        $('#value-label-6').html(((ui.value % 50000) * 2 / 10000) + " mil");
                    }else {
                        $("[name=answer6]").val(ui.value);
                        $('#value-label-6').html((ui.value / 10000) + " mil");
                    }

                    if(ui.value == 0)
                        $('#value-label-6').html("Ingen gräns");

					getNumberOfHits();
                }
            });

        });
</script>