
<div class="guide-page-bottom">
    <div id="guide-question-collection" style="position: relative; overflow: auto;">
		<div class="guide-question-pane-inactive rounded-7" id="numberOfHits-wrapper">
			<div id="numberOfHits"></div>
		    <div class="i-box rounded-7">i</div>
		</div>
        <form method="post" id="guideForm" action="school/search">
	
           	<div class="question-group rounded-7">
				<div class="question-group-top">
					<div class="question-group-bottom">
		                <h2>Var vill du hitta en skola?</h2>
		                <!--<div style="color: #333333; width: 550px;">Gruppbeskrivning</div>-->
						<%= partial "school/map", :object => nil, :locals => { :address => address } %>
						<%= partial "school/distance", :object => nil %>
		            </div>
	            </div>
			</div>
			<input type="hidden" value="" id="answer5" name="answer5" />
			<input type="hidden" value="" id="answer7" name="answer7" />
			
			<div class="question-group rounded-7">
				<div class="question-group-top">
					<div class="question-group-bottom">
		                <h2>Hur stor vill du att din skola ska vara?</h2>
		                <!--<div style="color: #333333; width: 550px;">Gruppbeskrivning</div>-->
						<%= partial "school/schoolsize", :object => nil %>
		            </div>
	            </div>
			</div>
			
			<div class="question-group rounded-7">
				<div class="question-group-top">
					<div class="question-group-bottom">
		                <h2>Vad är viktigast för dig?</h2>
		                <!--<div style="color: #333333; width: 550px;">Gruppbeskrivning</div>-->
						<%= partial "school/searchparampriority", :object => nil %>
		            </div>
	            </div>
			</div>
			
        </form>
    </div>
    <div style="width: 931px;">
        <div class="guide-submit-top" style="float: left;">
        <div class="guide-submit-bottom" style="float: left; width: 696px;">
            <div class="compare-bar-button-wrapper">
                <div class="compare-bar-button" id="guide-question-number-7">
                    <span><a id="submitlink" href="javascript:doSubmit();">Visa mig resultatet</a></span>
                </div>
            </div>
        </div>
        </div>
        <div id="loader" class="small-loader" style="margin-top: 18px;">
            <table><tr>
                <td>Laddar</td>
                <td><img alt="Laddar" src="/images/ajax-loader-4.gif" /></td>
            </tr></table>        
        </div>
        <div style="clear: both"></div>
    </div>
</div>

<script>
	$(window).scroll(function() {
		$("#numberOfHits-wrapper").stop();
		$("#numberOfHits-wrapper").animate({
		    top: $(window).scrollTop()
		  }, 200 );
		
	});
</script>