
<div id="guide-map-popup" class="guide-popup">
    <div class="guide-popup-bottom"><div>Du måste söka fram en plats</div></div>
</div>

<div class="question-container-top rounded-7" id="questiondiv1" style="position: relative;">
	<div id="map-question-container-bottom" class="question-container-bottom" style="overflow: hidden; height: 50px;">
	    <table class="guide-question-table">
	        <tbody>
	            <tr>
	                <td class="guide-question-table-icon">
	                    <img class="question-icon" src="/images/icon-location.png" alt="Platsikon" />
	                </td>
	                <td class="guide-question-table-info">
	                    <strong>Utgångspunkt:</strong>
	                </td>
	                <td class="guide-question-table-controls-map" style="width: 286px;">
	                    <label for="guide-map-search-address-street" style="color: #434343;">Gatuadress</label><br/>
	                    <input type="text" onkeypress="updateAddressFieldForMethod2(event); mapSearchKeyPress(event);" onchange="updateAddressFieldForMethod2(event);" id="guide-map-search-address-street" name="guide-map-search-address-street" value="<%=address %>" style="width: 270px;" />
						<input type="hidden" id="guide-map-search-address" />
	                </td>
					<td class="guide-question-table-controls-map" style="width: 150px;">
						<label for="school_municipality_id" style="color: #434343;">Kommun</label><br/>
						<select name="school[municipality_id]" id="school_municipality_id" onchange="updateAddressFieldForMethod2(event); findAddressHidden();" onkeypress="updateAddressFieldForMethod2(event); mapSearchKeyPress(event);">
							<% Municipality.find(:all, :order => "name ASC").each do |k| %>
								<% if !@selected.nil? && @selected.municipality_id == k.id %>
									<option value="<%= k.id %>" selected="selected"><%= k.name %></option> 
								<% else %>
									<option value="<%= k.id %>"><%= k.name %></option> 
								<% end %>								
						<% end %>
						<select>
					</td>
	                <td>
	                    <div id="guide-map-search" onclick="mapSearchClick();">Sök</div>
	                </td>
	            </tr>
	            <tr>
	                <td colspan="5">&nbsp;</td>
	            </tr>
	            <tr>
	                <td colspan="2" style="vertical-align: top; padding: 10px 20px 10px 10px;">
	                    <strong>Rätt plats?</strong><br />
	                    <span class="quide-question-text">Kontrollera i kartan att utgångspunkten har hamnat där du vill.</span>
	                </td>
	                <td colspan="3">
	                    <div id="guide_map_canvas_box" style="overflow: hidden; width:450px; height:300px; float: left;"></div>
	                </td>
	            </tr>
	        </tbody>
	    </table>
	</div>
</div>

<script type="text/javascript">
    $(document).ready(
        function () {
			$('#guide-map-search').button();
			
            if ($('#answer7') != undefined && $('#answer7').val() != '') {
                $('#guide-map-search-address-street').val($('#answer7').val().split(',')[0]);
                $('#guide-map-search-address-city').val($('#answer7').val().split(',')[1]);
                $('#guide-map-search-address').val($('#answer7').val());

                mapSearchClick();
            }

			if($('#guide-map-search-address-street').val() != '')
			{
				updateAddressFieldForMethod2();
				//mapSearchClick();
			}
        });
</script>