
<div class="question-container-top" id="questiondiv0" style="position: relative;">
	<div class="question-container-bottom" style="overflow: hidden; height: 50px;">
	    <table class="guide-question-table">
	        <tbody>
	            <tr>
	                <td class="guide-question-table-icon">
	                    <img class="question-icon" src="/images/icon-location.png" alt="Platsikon" />
	                </td>
	                <td class="guide-question-table-info">
	                    <strong>Kommun:</strong>
	                </td>
	                <td class="guide-question-table-controls-map" style="width: 456px;">
						<select name="school[municipality_id]" id="school_municipality_id">
						<% Municipality.find(:all, :order => "name ASC").each do |k| %>
								<% if !@selected.nil? && @selected.municipality_id == k.id %>
									<option value="<%= k.id %>" selected="selected"><%= k.name %></option> 
								<% else %>
									<option value="<%= k.id %>"><%= k.name %></option> 
								<% end %>								
						<% end %>
						<select>
	               </td>
	            </tr>
	        </tbody>
	    </table>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		$('#school_municipality_id').change(updateAddressFieldForMethod2);
	});
</script>
