<div style="width: 100px; text-align: left; font-size: 14px; line-height: 16px; float: left; color: #434343;">
	<%=@numberOfResults == 1 ? "En skola" : @numberOfResults.to_s + " skolor" %> uppfyller dina önskemål
</div>
