
<div class="guide-page-bottom">
	<div style="float:left">
<ol>
	<% if !@selectedByRanking.nil? %>
		<% counter = 1 %>
		<% @selectedByRanking.each do |school| %>
			<li class="result-item rounded-7">
                <div class="location vcard">
					<img class="photo" src="http://google-maps-icons.googlecode.com/files/red<%=counter < 10 ? "0" + counter.to_s : counter.to_s %>.png" alt="nummer <%=counter.to_s %>" style="float: left; margin-right: 5px;" />
					<h2 class="fn org schoolname" style="line-height: 27px;"><%=school.name %></h2>
                    <span class="street-address"><%=school.address %>, </span>
                    <span class="locality"><%=school.city %></span>
                    <span class="geo hidden" style="display:none">
                        <abbr title="<%=school.latitude%>" class="latitude"><%=school.latitude%></abbr>
                        <abbr title="<%=school.longitude%>" class="longitude"><%=school.longitude%></abbr>
                    </span>
					<div style="display: none;">
						<div class="school-facts">
							<div style="width: 167px; text-align: left; float: left; margin: 2px 0;">
								Avstånd: <%=school.distance < 1 ? (school.distance * 100).to_i.to_s + " m" : sprintf('%.2f', school.distance) + " km" %>
							</div>
							<div style="width: 167px; text-align: center; float: left; margin: 2px 0;">
								<%=school.number_of_students.to_s %> elever
							</div>
							<div style="width: 167px; text-align: right; float: left; margin: 2px 0;">
								<%=school.teacher_concentration.to_s %> lärare per 100 elever
							</div>
							<div style="width: 500px; text-align: left; float: left; margin: 2px 0;">
								Andel lärare med pedagogisk examen
								<div style="float: right; width: 80px; text-align: right;">
									<%=school.qualified_teachers != nil && school.qualified_teachers >= 0 ? school.qualified_teachers.to_s + "%" : "" %>
								</div>
								<div style="float: right; width: 180px; text-align: right;">
									<%= partial "school/barchart", :object => nil, :locals => { :id => counter, :value => school.qualified_teachers != nil && school.qualified_teachers >= 0 ? school.qualified_teachers.fdiv(100) : 0 } %>
								</div>
							</div>
							<div style="width: 500px; text-align: left; float: left; margin: 2px 0;">
								Genomsnittligt meritvärde årskurs 9
								<div style="float: right; width: 80px; text-align: right;">
									<%=school.results_ninth_grade != nil && school.results_ninth_grade >= 0 ? school.results_ninth_grade.to_s + "/320" : "" %>
								</div>
								<div style="float: right; width: 180px; text-align: right;">
									<%= partial "school/barchart", :object => nil, :locals => { :id => counter, :value => school.results_ninth_grade != nil && school.results_ninth_grade >= 0 ? school.results_ninth_grade.fdiv(320) : 0 } %>
								</div>
							</div>
						</div>
					</div>
                </div>
			</li>
			<% counter += 1 %>
		<% end %>
	<% end %>
</ol>
</div>
<div style="margin: 5px; padding: 1em; box-shadow: 0pt 2px 4px rgb(153, 153, 153); background: -moz-linear-gradient(center top , rgb(255, 255, 255), rgb(234, 234, 234)) repeat scroll 0pt 0pt transparent; border-radius: 4px 4px 4px 4px; float: left;">
<div id="map_result_canvas" style="overflow: hidden; width:580px; height:580px;" ></div>
</div>
<script type="text/javascript">
    $(function() {
        $('#map_result_canvas').gmap({'callback': function(map) {
            $('#map_result_canvas').gmap('loadMetadata', 'microformat', 'vcard', function(index, item, data) {
                    var clone = $(item).clone().addClass('ui-dialog-card').append($(item).find('.school-facts').clone()).append('<div style="width:500px; height:300px" id="streetview{0}" class="streetview"></div>'.replace('{0}', index));
                    $('#map_result_canvas').gmap('addMarker', { 'bounds':true, 'position': new google.maps.LatLng(data.latitude.title, data.longitude.title), 'title': data.org.text, 'icon':new google.maps.MarkerImage(data.photo.src) }, function(map, marker) {
                        $(item).click( function() {
                            $(marker).triggerEvent('click');
                            return false;
                        });

                        $(marker).click(function() {
                            map.panTo($(this).get(0).getPosition());
                            $(clone).dialog({ 'modal': true, 'width': 530, 'title': data.org.text, 'resizable': false, 'draggable': false, close: function(event, ui) { $('#map_result_canvas').gmap('removeStreetView') } });
                            $('#map_result_canvas').gmap('displayStreetView', 'streetview{0}'.replace('{0}', index), { 'position': $(this).get(0).getPosition(), 'addressControl': false, 'disableDoubleClickZoom': true , 'panControl': false, 'linksControl': false });
                        });
                    });
                }
            );
        }});
    });
	
	$(document).ready(function() {
		$('.result-item').hover(function() {
			//$(this).css('background-color', '#fff392');
			$(this).animate({ backgroundColor:'#f9f7e4'},300);
		}, function() {
			//$(this).css('background-color', '#E9F2EB');
			$(this).animate({ backgroundColor:'#E9F2EB'},300)
		});
	});
</script>
<div class="clearfix"></div>
</div>