<div class="question-container-top rounded-7" style="position: relative;">
<div class="question-container-bottom">
    <table class="guide-question-table">
        <tbody>
            <tr>
                <td class="guide-question-table-icon">
                    <img class="question-icon" src="/images/icon-management.png" alt="Avstånd" />
                </td>
                <td class="guide-question-table-info">
                    <strong>Storlek: </strong><span class="quide-question-text">Hur många elever vill du att skolan ska ha?</span>
                </td>
                <td class="guide-question-table-controls">

					
					<div id="val-school-size" style="font-weight: bold; color: #333333; width: 100%; text-align: center; padding-bottom: 10px;">5-1100 elever</div>
                    <table width="100%">
                        <tr>
                            <td width="45px"></td>
                            <td><div id="slider-range"></div></td>
                            <td width="45px"></td>
                        </tr>
                    </table>
                    <table width="100%">
                        <tr>
                            <td width="20%" align="center"><div class="value-slider-label">2</div></td>
                            <td width="20%" align="center"><div class="value-slider-label">50</div></td>
                            <td width="20%" align="center"><div class="value-slider-label">100</div></td>
                            <td width="20%" align="center" ><div class="value-slider-label">300</div></td>
                            <td width="20%" align="center" ><div class="value-slider-label">1100</div></td>
                        </tr>
                    </table>

                </td>
            </tr>
        </tbody>
    </table>
    <input name="schoolsizemin" type="hidden" value="2" />
    <input name="schoolsizemax" type="hidden" value="1100" />

</div>
</div>

<script type="text/javascript">
    $(document).ready(
        function () {
   			$( "#slider-range" ).slider({
				range: true,
				min: 0,
				max: 1000,
				step: 250,
				values: [ 0, 1000 ],
				slide: function( event, ui ) {
					var leftDisplay;
					var rightDisplay;
					
					switch(ui.values[0])
					{
					case 0:
					  leftDisplay = 2
					  break;
					case 250:
					  leftDisplay = 50
					  break;
					case 500:
					  leftDisplay = 100
					  break;
					case 750:
					  leftDisplay = 300
					  break;
					case 1000:
					  leftDisplay = 1100
					  break;
					}
					
					switch(ui.values[1])
					{
					case 0:
					  rightDisplay = 2
					  break;
					case 250:
					  rightDisplay = 50
					  break;
					case 500:
					  rightDisplay = 100
					  break;
					case 750:
					  rightDisplay = 300
					  break;
					case 1000:
					  rightDisplay = 1100
					  break;
					}
					
					$("[name=schoolsizemin]").val(leftDisplay);
					$("[name=schoolsizemax]").val(rightDisplay);
				    
					$( "#val-school-size" ).text(leftDisplay + " - " + rightDisplay + " elever");
					
					getNumberOfHits();
				}
			});

        });
</script>