
<div class="question-container-top rounded-7" id="questiondiv0" style="position: relative;">
	<div class="question-container-bottom">
	    <table class="guide-question-table">
	        <tbody>
	            <tr>
	                <td class="guide-question-table-icon">
	                    <img class="question-icon" src="/images/icon-rating.png" alt="Platsikon" />
	                </td>
	                <td class="guide-question-table-info">
	                    <strong>Prioritering:</strong>
	                </td>
	                <td class="guide-question-table-controls-map" style="width: 456px;">
						<label class="guide-radio-item"><input id="distance" type="radio" name="school[rank_prio]" value="1" /> att det är <strong>nära</strong> till skolan</label>
	                </td>
				</tr>
	        </tbody>
	    </table>



	    <table class="guide-question-table">
	        <tbody>
	            <tr>
	                <td class="guide-question-table-icon">
	                    &nbsp;
	                </td>
	                <td class="guide-question-table-info">
	                    &nbsp;
	                </td>
	                <td class="guide-question-table-controls-map" style="width: 456px;">
						<label class="guide-radio-item"><input id="betygsres" type="radio" name="school[rank_prio]"  value="2" /> att eleverna har höga betyg och <strong>bra resultat</strong> på nationella prov</label>
	                </td>
				</tr>
	        </tbody>
	    </table>
	


	    <table class="guide-question-table">
	        <tbody>
	            <tr>
	                <td class="guide-question-table-icon">
	                    &nbsp;
	                </td>
	                <td class="guide-question-table-info">
	                    &nbsp;
	                </td>
	                <td class="guide-question-table-controls-map" style="width: 456px;">
						<label class="guide-radio-item"><input id="lararconc" type="radio" name="school[rank_prio]" value="3" /> att det finns gott om <strong>lärare</strong> och att många av dem är behöriga</label>
	                </td>
				</tr>
	        </tbody>
	    </table>
	
	    <table class="guide-question-table">
	        <tbody>
	            <tr>
	                <td class="guide-question-table-icon">
	                    &nbsp;
	                </td>
	                <td class="guide-question-table-info">
	                    &nbsp;
	                </td>
	                <td class="guide-question-table-controls-map" style="width: 456px;">
						<label class="guide-radio-item"><input id="allaviktiga" type="radio" checked="checked" name="school[rank_prio]" value="0" /> allt är lika viktigt</label>
	                </td>
				</tr>
	        </tbody>
	    </table>
	</div>
</div>