<% content_for(:header) { %>
	<h1>Sök Grundskolor<h1>
<% } %>

<% form_for :school, url(:school, :search), :method => :post, :class => :form do |f| %>
<% #options_for_select() %>
<% if !@selected.nil? %>
<%= f.select :municipality_id, :collection => Municipality.find(:all, :order => "name ASC"), :fields => [:name, :id], :selected =>@selected.id  %>
<% else %>
<%= f.select :municipality_id, :collection => Municipality.find(:all, :order => "name ASC"), :fields => [:name, :id] %>
<% end %>

<div>
	<div id="slider" style="float:left;width:200px; margin-left:0px; margin-top:10px; margin-bottom:10px;"></div>
	<div style="float:left;"><%= f.text_field :distance, :class => "no-edit", :value => @distance %></div>
	<div class="clearfix"></div>
</div>

<div style="margin-left:0px;">
<%= f.text_field :adress, :value => @adress, :id => 'adress' %>
</div>
	<%= submit_tag 'Sök', :class => "button"%>
 </p>
<% end %>
<br/>
<p> <% if !@selected.nil? %>Visar skolor i <%= @selected.name %>.<% end %></p>

<%= partial "school/result", :object => @selectedSchools %>