<!DOCTYPE html>
<html>
	<head>
		<title>Jenka</title>
		<%=stylesheet_link_tag 'reset', 'application' %>
		<link type="text/css" href="/stylesheets/jquery-ui-1.8.7.custom.css" rel="stylesheet" />

        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
        <%=javascript_include_tag 'jquery', 'jquery-ujs', 'application', 'OmvardGoogleMaps' %>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js"></script>

        <script type="text/javascript" src="/javascripts/jquery.ui.map.js"></script>
        <script type="text/javascript" src="/javascripts/jquery.ui.gmap.microformat.min.js"></script>

		<link href='http://fonts.googleapis.com/css?family=Paytone+One' rel='stylesheet' type='text/css'>
	<head>
	<body>
		<div id="contents">
			<div id="header">
				<h1>Skolguiden</h1>
			</div>
			<div id="main">
				<%=yield %>
			</div>
		</div>
	</body>
</html>